{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier",
    "jest"
  ],
  "rules": {
    "max-len": ["error", { "code": 100, "ignoreStrings": true, "ignoreUrls": true }],
    "react/jsx-filename-extension": [0],
    "linebreak-style": 0,
    "prettier/prettier": "error"
  },
  "env": {
    "jest/globals": true
  }
}